body	{
	background-color: lightblue;
}

container	{
	width:100%;
	margin:4em auto 0;
	text-align:center;
	color: white;
}

h1	{
	font-family: 'Open sans', sans-serif;
	font-size:4em;
	text-align:center;
	color: white;
}


p	{
	font-family: 'Open sans', sans-serif;
	font-size:2em;
	text-align:center;
	color: white;
	margin:0;
}

