body	{
}

container	{
	width:100%;
	background-image: url('/img/GC14-LP1.png');
}

h1	{
	font-family: 'Open sans', sans-serif;
	font-size:4em;
	text-align:center;
	color: white;
}


p	{
	font-family: 'Open sans', sans-serif;
	font-size:2em;
	text-align:center;
	color: white;
	margin:0;
}

