html { 
  background: url('/img/GC14-LP1.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container	{
	width: 100%;
	max-width: 678px;
	padding: 2em 50px 0;
	margin: 0 auto;
	text-align: center;
}

img {
	width:80%;
}

h1, h2, p {
	font-family: 'Open sans', sans-serif;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 15px rgba(0,0,0,.3);
	width:90%;
	margin:0 auto;
}

h1	{
	font-size: 4em;
	line-height:1em;
}


h2	{
	font-size: 2em;
	margin:1em auto;

}

p	{
	margin: 0 auto;

}

@media all and (max-width: 768px) {
	.container	{ 
		padding: 1em 10px 0;
	}
	
	h1	{
		font-size: 3em;
	}
}