html { 
  background: url('/img/GC14-LP1.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container	{
	width: 100%;
	max-width: 678px;
	padding: 2em 50px 0;
	margin: 0 auto;
}

img {
	width:60%;
	max-width:
}

h1	{
	font-family: 'Open sans', sans-serif;
	font-size: 4em;
	margin: 0;
	text-align: center;
	color: white;
}


p	{
	font-family: 'Open sans', sans-serif;
	font-size: 2em;
	text-align: center;
	color: white;
	margin: 0;
}


@media all and (max-width: 768px) {
	.container	{ 
		padding: 1em 10px 0;
	}
	
	h1	{
		font-size: 3em;
	}
}